* {
  font-family: Helvetica;
  text-align: center;
}


h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

h2 {

}

#home {
  background-image: url('../images/the-flatiron-building.png');
  background-position: center;
}


p {
  font-size: 1=4px;
}


a {
  color: white;
  font-size: 18px;
}
